#admin-inventory {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#admin-inventory .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#admin-inventory .header .left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#admin-inventory .header input::placeholder {
  color: #000;
  opacity: 0.5;
}

#admin-inventory .header .ant-picker-range {
  padding: 10px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25) !important;
}

#admin-inventory .search-input {
  min-width: 20vw;
  padding: 10px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}

#admin-inventory .header-product-button {
  padding: 10px;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FFF;
  border: none;
  background-color: #1989F1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#admin-inventory .product-stats {
  font-size: 16px;
}

#admin-inventory .count {
  color: #1989F1;
  font-weight: 900;
}

#admin-inventory table {
  margin: 20px 0;
  border-collapse: collapse;
  border: 1px solid #C7C4C4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#admin-inventory thead th {
  padding: 15px 0;
}

#admin-inventory tbody td {
  padding: 5px 0;
}

#admin-inventory tr {
  border: 1px solid #C7C4C4;
}

#admin-inventory button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#admin-inventory .edit-button img {
  height: 19px;
  width: 19px;
}

#admin-inventory .delete-button img {
  height: 25px;
  width: 25px;
}